/*
<Classes> are good for reusable styling. ".whatever" affects the 
"whatever" class.

<Variables> are good for whatever repeats a lot. --whatever defines the 
"whatever" variable.

<Box-sizing:>
context-box: width/height apply to content only; padding and border add 
to total size
border-box: width/height include content + padding + border

:root is best used only for custom properties (variables)

[margin][border][padding][content]

*/

body {
    background-color: lightblue;
    background-image: radial-gradient(rgba(255, 0, 0, 0.24), rgba(128, 0, 128, 0.42));
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    line-height: 1.2;
}

.stickyone {
    position: sticky;
    font-weight: bold;
    top: 0;
    text-align: center;
    padding: 0;
    padding-bottom: 3px;
    background-color: rgba(128, 128, 128, 0.5);
    backdrop-filter: blur(6px);
    width: 10vw;
    margin: 0 auto;
    background-size: auto auto;
    z-index: 10;
    color: red;
}

h1 {
    color: rgb(128, 0, 128);
    text-align: center;
    font-size: 2.5rem;
}

sub {
    font-size: 1rem;
}

sup {
    font-size: 1rem;
}

h3 {
    margin: 0;
}

ol {
    margin: 0px;
    padding: 10px;
}

ul {
    margin: 0px;
    padding: 10px;
}

p {
    font-style: normal;
    font-weight: 200;
    padding-left: 30px;
    margin: 1px;
}

.underline {
    text-decoration-line: underline;
}

.lists-1-1 .secrettext {
    position: relative;
    top: 300px;
    right: 35vw;
    pointer-events: none;
    z-index: 1;
    color: black;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    padding-left: 2px;
}

.lists-1-1 .secrettext.visible {
    visibility: visible;
    transition: opacity .2s;
    opacity: 1;
}

.lists-1-1 {
    position: relative;
    line-height: 1.2;
    text-align: center;
}

.lists-1-2 {
    box-sizing: border-box;
    background: rgba(255,255,255,0.12);
    display: block;
    font-size: 1rem;
    list-style-position: inside;
    border: 2px solid red;
    resize: horizontal;
    overflow: hidden;
    min-width: 30%;
    width: 30%;
    max-width: 100%;
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.italic {
    font-style: italic;
}

.form {
    padding-left: 10px;
    gap: 8px;
    display: flex;
    align-items: center;
}

textarea {
    width: 300px;
    height: 100px;
    resize: none;
}

.button1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 1px solid darkblue;
    background: salmon;
    cursor: pointer;
}

.margintop {
    margin-top: 25px;
}

.marginbottom {
    margin-bottom: 25px;
}

.marginvertical {
    margin: 25px 25px;
}

.marginbottom2 {
    margin-bottom: 2px;
}

table.center {
    margin: 0 auto;
    max-width: 500px;
}

.centerol1 {
    margin: 0 auto;
    width: 150px;
    text-align: left;
    list-style-type: none;
    counter-reset: centerol1decimal;
}
.centerol1 li::before {
    counter-increment: centerol1decimal;
    content: counter(centerol1decimal) ". ";
}
.centerol1 ul {
    list-style-type: none;
    counter-reset: centerol1decimam;
    padding: 0;
    padding-left: 20px;
}
.centerol1 ul li::before {
    counter-increment: centerol1decimam;
    content: counter(centerol1decimal) "." counter(centerol1decimam) ". ";
}

.center {
    text-align: center;
}

.centerimg {
    margin: 0 auto;
    display: block;
    width: 500px;
    height: 400px;
}

.exceltable {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

.exceltable tbody td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.exceltable tr th {
    border: 3px solid black;
    text-align: center;
}

/*.button1 {
    border: 0px;
    display: inline-block;
    position: relative;
    z-index: 1;
    border: 0px solid #000000;
    background-color: transparent;
    font-family: Futura, Tahoma, sans-serif;
    color: #ffffff;
    padding: 25px;
    margin-left: 20px;
}
.button1::after {
    content: "'";
    color: transparent;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: -1;
    border-radius: 3px;
    background-color: #cc0323;
    transform: skew(-30deg);
    -webkit-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -ms-transform: skew(-30deg);
}*/